MONGO_URL=mongodb://mongo:27017
DB_NAME=agenthub
JWT_SECRET=escreva_um_secret_seguro_aqui_para_tokens
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=43200
API_HISTORY_TOKEN=agent-hub-secret-token

# Gateways Configuration (Adicione suas próprias chaves)
ELEVENLABS_API_KEY=
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

# Server Config
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
